
<div id = "signupMamaDiv">

   <section id = "signupSection1"></section>

   <section id = "signupSection2">

      <div>

         <img id = "signupRoundLogo" src="/images/logoRound.png" alt="website logo">

         <h1 id = "signupH1">Sign up to join <br> the community!</h1><br><br>

         <form id = "signupForm" action="/auth/signup" method="POST" enctype="multipart/form-data">

            <label class = "signupLabel"> Username:</label><br>
            <input class = "signupInput" type="text" name="username" required>

         <br><br>

            <label class = "signupLabel"> Password: </label><br>
            <input class = "signupInput" type="password" name="password" required>

         <br><br>
            
            <label class = "signupLabel"> Email: </label><br>
            <input class = "signupInput" type="email" name="email">

         <br><br>
            
            <label class = "signupLabel"> What city do you call home? </label><br>
            <input class = "signupInput" type="text" name="city" required>

         <br><br>

            <label class = "signupLabel"> Age: </label><br>
            <input class = "signupInput" type="number" name="age">

         <br><br>

            <label class = "signupLabel">Profile Picture:</label><br><br>
            <input class = "signupInput" type="file" name="imageUrl"/>

         <br><br><br>

            <button type="submit">Submit</button>

         </form>

      </div>

   </section>

</div>


   
