<form id="bulma-form" class="box" action="/event/create" method="POST" enctype="multipart/form-data">
   <div class="field">
      <label class="label">* Event name:</label>
      <div class="control">
         <input name="name" class="input" type="text" placeholder="e.g. DJ and Tapas in Barcelona!" required>
      </div>
   </div>

   <div class="field">
      <label class="label">* City:</label>
      <div class="control">
         <input name="city" class="input" type="text" placeholder="e.g. Barcelona" required>
      </div>
   </div>

   <div class="field">
      <label class="label">* Date:</label>
      <div class="control">
         <input name="date" class="input" type="date" required>
      </div>
   </div>

   <div class="field">
      <label class="label">Time:</label>
      <div class="control">
         <input name="time" class="input" type="time">
      </div>
   </div>

   <div class="field">
      <label class="label">Image:</label>
      <div class="control">
         <input name="img" type="file" class="input" required>
      </div>
   </div>

   <div class="field">
      <label class="label">Type of event:</label>
      <div class="control">
         <input name="type" class="input" type="text" placeholder="e.g. concert">
      </div>
   </div>

   <div class="field">
      <label class="label">Description:</label>
      <div class="control">
         <textarea name="description" class="textarea" type="text" placeholder="e.g. concert in Barcelona!"></textarea>
      </div>
   </div>
   


   <div class="field">
      <label class="label">Tags:</label>
      <div class="control">
         <input name="tags" class="input" type="text" placeholder="e.g. music dj rooftop">
      </div>
   </div>

   <div class="field">
      <label class="label">Venue:</label>
      <div class="control">
         <input name="venueName" class="input" type="text" placeholder="e.g. Palau San Jordi">
      </div>
   </div>

   <div class="field">
      <label class="label">Country:</label>
      <div class="control">
         <input name="country" class="input" type="text" placeholder="e.g. Spain">
      </div>
   </div>

   <div class="field">
      <label class="label">External link:</label>
      <div class="control">
         <input name="artistSiteUrl" class="input" type="url" placeholder="e.g. artist's Spotify page">
      </div>
   </div>

  <button form="bulma-form" class="button is-primary" type="submit">Create an event!</button>
</form>
