<!-- Slideshow -->
<div id = "indexMamaDiv">

<section id = "indexLeft">

   <div class="slideshow-container">

   <div class="mySlides fade">
      <img src="/images/slider/beach.jpeg" style="width:100%">
   </div>

   <div class="mySlides fade">
      <img src="/images/slider/concert.jpeg" style="width:100%">
   </div>

   <div class="mySlides fade">
      <img src="/images/slider/foodTrucks.jpeg" style="width:100%">
   </div>

   <div class="mySlides fade">
      <img src="/images/slider/football.jpeg" style="width:100%">
   </div>

   <div class="mySlides fade">
      <img src="/images/slider/friends.jpeg" style="width:100%">
   </div>

   <div class="mySlides fade">
      <img src="/images/slider/hamilton.jpeg" style="width:100%">
   </div>

   <div class="mySlides fade">
      <img src="/images/slider/hangGlide.jpeg" style="width:100%">
   </div>

   <div class="mySlides fade">
      <img src="/images/slider/horserace.jpeg" style="width:100%">
   </div>

   <div class="mySlides fade">
      <img src="/images/slider/kayak.jpeg" style="width:100%">
   </div>

   <div class="mySlides fade">
      <img src="/images/slider/nascar.jpeg" style="width:100%">
   </div>

   <div class="mySlides fade">
      <img src="/images/slider/nfl.jpeg" style="width:100%">
   </div>

   <div class="mySlides fade">
      <img src="/images/slider/rave.jpeg" style="width:100%">
   </div>

   </div>

   <br><br>

   <h1>Find local events near you!</h1>

</section>

<section id = "indexRight">
   
   <img id = "roundLogo" src="/images/logoRound.png" alt="website logo">

   <br><br><br><br>

   <form action="/" method="POST">
      <input class = "indexInput" type="text" name="username" placeholder = "Username">
      <br><br>
      <input class = "indexInput" type="password" name="password" placeholder = "Password">
      <br><br>
      <button class = "indexInput" type="submit" id = "loginButton">Log In</button>
      <br>
   </form>

   <br>

   <hr style = "width: 30%">

   <br>

   <a href="/auth/signup"><button id = "indexSignUp" class = "indexInput">Sign Up</button></a>

</section>

</div>